<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
  <h2 class="h4 text-body-secondary">{{title}}</h2>
</div>




<!-- Intro Section -->


<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p>
    <strong>The first rule of ARIA:</strong> use it only when necessary.
    Native HTML elements should always come first—like using visible text inside a <code>&lt;button&gt;</code> instead
    of an aria-label.
    However, for complex web apps, ARIA can be essential for accessibility.
  </p>
  <p>
    One powerful ARIA attribute is aria-live. Aria-live designates a live region on the page
    where screen readers automatically announce any updates that happen within that region.
    This is especially useful for dynamic content that changes on a page without shifting focus or
    a page refresh.
  </p>
  <p><strong>Required</strong></p>
  <ul>
    <li>
      Use <code>aria-live</code> on a container element that will receive dynamic updates, such as
      <code>&lt;div&gt;</code> or <code>&lt;span&gt;</code>.
    </li>
    <li>
      Choose the appropriate <code>aria-live</code> token:
      <ul>
        <li><code>polite</code> announces updates only when the user is idle.</li>
        <li><code>assertive</code> announces updates immediately, interrupting the user.</li>
      </ul>
    </li>
    <li>
      Ensure that content inside the live region is updated dynamically; static content won’t trigger announcements.
    </li>
  </ul>

  <p><strong>Best Practice</strong></p>
  <ul>
    <li>
      Keep live region updates short and relevant to avoid overwhelming users.
    </li>
    <li>
      <strong>Avoid</strong> using <code>aria-live="assertive"</code> unless absolutely necessary, as it disrupts the
      user's flow.
    </li>
    <li>
      Do not apply <code>aria-live</code> to large sections of the page; limit it to small, specific elements where
      updates occur.
    </li>
    <li>
      Test with screen readers to ensure updates are announced as expected.
    </li>
    <li>
      Aria-live does not work the same on all AT devices. Test with multiple screen readers to ensure compatibility.
    </li>
    <li>
      Do not shift focus to the live region when updates occur; this can be disorienting for users.
    </li>
  </ul>
  <p>
    Aria-live is a powerful tool with different tokens for different scenarios. The most frequently used is
    <code>aria-live="polite"</code>,
    to learn about the other tokens and how to use them, visit the <a
      href="https://www.w3.org/TR/wai-aria-1.1/#aria-live">W3C ARIA Live Regions</a> documentation.
  </p>

</div>


<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      Below is a demonstration of how aria-live works.
      In this scenario, we are dynamically removing content on the page.
      Once the content is removed, the screen reader will announce the change to the user.
    </p>
    <ol>
      <li>Turn on your screen reader.</li>
      <li>Add content into the required text field.</li>
      <li>
        Select the Clear Data button to trigger the live-region.
      </li>
    </ol>
    <p>
      Try entering and modifying a message to see how assistive technologies handle live updates!
    </p>
  </div>
  <div class="
    mt-3
    mb-3
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="override-container">
      <div class="visually-hidden" aria-live="polite">
        {{hiddenAlert}}
      </div>
      <div>
        <cel-text-field data-required="true" data-helper-label="content below will be removed"
          #inputForm></cel-text-field>
      </div>
      <div>
        <cel-button class="mt-3" data-button-size="small" data-label="Clear Data" type="button"
          (celButtonOnClick)="handleChange($event)" (blur)="clearAlert()"></cel-button>
      </div>
      <div class="form-floating mt-3 mb-3">
        <input id="customLiveInputField" type="text" placeholder="custom aria-live message"
          placeholder=" 'custom aria-live message' " [(ngModel)]="inputValue" class="form-control" />
        <label for="customLiveInputField">
          custom aria-live message
        </label>
      </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button id="accordionButton0"
            class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
            aria-controls="codeContainer0">
            Expand Code
          </button>
        </h2>
        <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
          <div class="accordion-body">
            <strong>Aria-live Region</strong>
            <pre></pre>
            <strong>
              <code style="color: #006748;">
                &lt;div class="visually-hidden" aria-live="polite"&gt;
              </code>
              </strong>
              <code>
              <span ngNonBindable>{{hiddenAlert}}</span>
            </code>
              <code style="color: #006748;">
              <strong>
              &lt;/div&gt;
            </strong>
            </code>
            <pre></pre>
            <strong>Text Field</strong>
            <pre></pre>
            <code>
            <strong>
              &lt;div&gt;
            </strong>
            <strong>
              &lt;cel-text-field
            </strong>
              data-required="true"
              data-helper-label="content below will be removed"
              #inputForm
            <strong>&gt;
              &lt;/cel-text-field&gt;
              &lt;/div&gt;
            </strong>
            </code>
            <pre></pre>
            <strong>
              Clear Button
            </strong>
            <pre></pre>
            <code>
            <strong>
              &lt;div&gt;
            </strong>
            <strong>
              &lt;cel-button
            </strong>
              class="mt-3"
              data-button-size="small"
              data-label="Clear Data"
              type="button"
              (celButtonOnClick)="handleChange($event)"
              (blur)="clearAlert()"<strong>&gt;&lt;/cel-button&gt;</strong>
            <strong>
              &lt;/div&gt;
            </strong>
            </code>
            <pre></pre>
            <strong>
              Custom aria-live Message
            </strong>
            <pre></pre>
            <code>
            <strong>
              &lt;div class="form-floating mt-3 mb-3"&gt;
            </strong>
            <strong>
              &lt;input
            </strong>
            </code>
            <code>
              id="customLiveInputField"
              type="text"
              placeholder="custom aria-live message"
              [(ngModel)]="inputValue"
              class="form-control"<strong>/&gt;</strong>
            <strong>
              &lt;label for="customLiveInputField"&gt;
            </strong>
              custom aria-live message
            <strong>
              &lt;/label&gt;
            </strong>
            <strong>
              &lt;/div&gt;
            </strong>
            </code>
            <pre></pre>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="details-container">
      <p>
        You can inspect the console or the html and see the <code>&lt;div aria-live="polite"&gt;</code> get updated.
        In the console I've logged what is happening on each interaction.
      </p>
    </div>
  </div>
</div>



<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      The same logic can be applied when displaying new content based on user interaction.
    </p>
  </div>
  <div class="
    mt-3
    mb-3
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="override-container">
      <div aria-live="polite" *ngFor="let radio of radioGroupList">
        <cel-radio-button-group #radioGroupForms [header]=radio.header
          [attr.data-show-radio-group-horizontal]="!isMobile" [groupName]="radio.groupName" [list]="radio.radioGroup"
          (celRadioButtonChange)="displayToggle($event)"></cel-radio-button-group>
      </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion1">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button id="accordionButton1"
            class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#codeContainer1" aria-expanded="false"
            aria-controls="codeContainer1">
            Expand Code
          </button>
        </h2>
        <div id="codeContainer1" class="accordion-collapse collapse" data-bs-parent="#accordion3">
          <div class="accordion-body">
            <strong>Display Content</strong>
            <pre></pre>
            <code style="color: #006748;">
              <strong>
              &lt;div aria-live="polite" *ngFor="let radio of radioGroupList"&gt;
            </strong>
            </code>
            <code>
            <strong>
              &lt;cel-radio-button-group
            </strong>
            </code>
            <code>
              [attr.data-show-radio-group-horizontal]="!isMobile"
            </code>
            <code>
              [header]="radio.header"
            </code>
            <code>
              [groupName]="radio.groupName"
            </code>
            <code>
              [list]="radio.radioGroup"
            </code>
            <code>
              (celRadioButtonChange)="displayToggle($event)"<strong>&gt;
              &lt;/cel-radio-button-group&gt;
            </strong>
            </code>
            <code style="color: #006748;">
            <strong>
              &lt;/div&gt;
            </strong>
            </code>
            <pre></pre>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="details-container">
      <p>
        There is some nuance with <strong>change of context & change of content</strong>. Technically we are not changing
        context, but we are changing the content of the page. Since the user initated the change, it is not considered
        an interruption or WCAG failure, however; it is still important to consider the user experience by providing the <code>aria-live</code> region.
      </p>
    </div>
  </div>
</div>