<header>
    <div class="container mt-3 mb-3">
      <div class="row">
        <div class="col">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </header>

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p>
  </p>
  <p>What is required from at the page level?</p>
  <ul>
    <li>
      The page <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">must</a>
    </li>
    <li>
      The page <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/label-in-name" target="_blank">must</a>
    </li>
    <li>
      The page<a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">must</a> 
    </li>
  </ul>
</div>

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
    </p>
    <p>What is recommended at the page level?</p>
    <ul>
      <li>
        The page <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
          href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">must</a>
      </li>
      <li>
        The page <a
          class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
          href="https://www.w3.org/WAI/WCAG22/Understanding/label-in-name" target="_blank">must</a>
      </li>
      <li>
        The page<a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
          href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">must</a> 
      </li>
    </ul>
  </div>

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
        Detail or image here
    </p>
  </div>
  <div class="
    mt-3
    mb-3
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="override-container">
        content here
    </div>
  </div>
  <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton0"
          class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
          aria-controls="codeContainer0">
          Expand Code
        </button>
      </h2>
    </div>
  </div>
  <div class="container" id="details-container">
    <p>
      When you navigate to the button, the <strong>role </strong> <em>'button'</em> and the <strong>name
      </strong><em> 'cancel'</em> are announced. The <strong>name</strong> here is set with <code>data-label</code>. There are no states or values assigned to this button, so they are not
      needed.
    </p>
  </div>
</div>


<!-- Provide Error example either in new page or at the bottom of the page here -->