<header>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Resources -->
  <cel-search-field data-show-search-results="true" (celSearchFieldSelect)="selectedResource($event)" [searchList]="searchList"></cel-search-field>

  <div class="container border rounded border-primary-subtle mt-3 mb-3">
  <div *ngFor="let definition of resources" class="list-group list-group-item-primary mt-3 mb-3 ">
    <a [href]="definition.link" [id]="definition.id" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="h5 mb-1">{{definition.term}}</h2>
        <small>{{definition.updated}}</small>
      </div>
      <p class="mb-1">{{definition.definition}}</p>
      <small></small>
    </a>
  </div>