.text-field-label {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--text-field-label-font-size, 0.875rem);
  font-family: var(--text-field-label-font-family, "OpenSans-Semibold");
  color: var(--text-field-label-color, #333);
  height: var(--text-field-label-height);
}
s {
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}
