<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</header>

<!-- Intro section -->

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p>Radio group buttons are another important element within a form. They allow users to select one option
    from a list of options. Radio buttons are often used in groups, where only one option can be selected at a time.
    Each radio button requires a label for the button, and some sort of group label to help the user understand the
    context.
  </p>
  <p>How to make a radio group accessible?</p>
  <ul>
    <li>
      A button <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">must</a> have a visible
      label.
    </li>
    <li>
      If a button has an accessible label, it <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/label-in-name" target="_blank">must</a> start with
      the visible text.
    </li>
    <li>
      The name, role, state, & value <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">must</a> be programmatically
      determinable. <em>(<strong>role</strong> is often baked into the native
        HTML<code> &lt;button&gt; </code>component</em> | <em><strong>name</strong> is the visible text</em> |
      <em><strong>value, state</strong> are required for more complex functionality)</em>
    </li>
  </ul>
</div>

<!-- Component Grouping -->


<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      This button is using only the label attribute. Though this button has very little functionality, it is a fully
      accessible component. Turn on the AT and navigate to the element.
    </p>
  </div>

  <div *ngFor="let radio of radioGroupList; let i =index">
    <div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
      <div>
        <cel-radio-button-group [attr.data-show-radio-group-horizontal]="!isMobile" [header]="radio.header"
          [list]="radio.radioGroup"></cel-radio-button-group>
      </div>
    </div>
  </div>
  <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton0"
          class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
          aria-controls="codeContainer0">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
        <div class="accordion-body">
          <strong>Radio Group 1</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <p>
      When you navigate to the button, the <strong>role </strong><em>'button'</em> and the <strong>name
      </strong><em>'cancel'</em> are announced. There are no states or values assigned to this button, so they are not
      needed.
    </p>
  </div>
</div>