<div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
<div>
    <h2>Buttons</h2>
    <p>Buttons are an important part of Design. They are used in just about every page within Realize.
      By inheriting a cel-Button, you will want to make sure that all buttons are accessible.
      Below are 2 different buttons. The first button has a label (data-label) attribute that is used to set the visible
      label. The second button has a data-button-aria-label attribute that is used to override the aria-label attribute.
    </p>
    <p>These buttons look identical. However when screen reader is used, they are completely different.</p>
  </div>

<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div>
        <cel-button id="button1" data-label="Cancel"> </cel-button>
    </div>
    <div>
        <cel-button id="button2" data-label="Cancel"
            data-button-aria-label="This is an aria label, it overwrites the visible label"></cel-button>
    </div>
</div>