<!-- Toolbar -->
<div class="navbar navbar-expand-lg bg-primary text-white shadow-sm" role="banner" >
  <div class="container d-flex align-items-center">
    <!-- Navbar Toggler for Collapse -->
    <button #navToggleButton id="navToggleButton" type="button" data-bs-toggle="collapse" data-bs-target="#navBarToggler" aria-controls="navBarToggler" aria-expanded="false" aria-label="Toggle navigation" class="border border-dark border-1 navbar-toggler collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="assets/logos/savvas-dark.svg" alt="Savvas {{ title }}" width="100" class="me-3" />
    <span class="fw-semibold fs-5 text-responsive" *ngIf="!isMobile" >{{ title }}</span>
  </div>
</div>
<nav id="navexpanded" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navBarToggler">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link fw-semibold" routerLinkActive="active" routerLink="/Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-semibold" routerLink="/Buttons" routerLinkActive="active">Buttons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-semibold" routerLink="/Inputs" routerLinkActive="active">Input Fields</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-semibold" routerLink="/Radios" routerLinkActive="active">Radio Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-semibold" href="/Resources">How To</a>
      </li>
    </ul>
  </div>
</nav>

<div role="main">
</div>
<router-outlet></router-outlet>
