<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
  <h2 class="mt-4 h4 text-body-secondary">Input Fields</h2>
</div>

<!-- Intro Section -->

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p>Input fields are important for filling out forms or submitting data. They can also be some of the most
    complex
    components when it comes to Accessiblilty.
    If you think about it, an input field can be as simple as an <code>&lt;input></code> and a <code>&lt;label></code>,
    or as complext as a required input, an error message, and an input field where only certain special characters
    allowed. All of this needs to be conveyed to both sighted and non-sighted users.
  </p>
  <p>What makes an accessible input?</p>
  <ul>
    <li>
      A visible label <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank"
        aria-label="must have a visual label associated to the input field, WCAG, opens new window">must</a> be
      semantically associated to the input field
    </li>
    <li>
      If an error message is triggered, either on blur() or on page submit, it <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/status-messages" target="_blank"
        aria-label="must communicate dynamic content to the AT user, WCAG, opens new window">must</a> be announced to
      the AT user.
    </li>
    <li>
      If a field is required it <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/labels-or-instructions" target="_blank"
        aria-label="must visually and semantically communicate required fields to the AT user, WCAG, opens new window">must</a>
      provide that information to both visual and non-sighted users.
    </li>
    <li>
      Placeholder text <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/label-in-name" target="_blank"
        aria-label="must not use placeholder as the only label, WCAG, opens new window">must </a> not be used as the
      label for an input.
    </li>
    <li id="autocomplete-requirements">
      If personal data is being collected, the proper input type and input purpose <strong>(autocomplete) </strong> <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/TR/2011/WD-html5-20110525/the-input-element.html#attr-input-type" target="_blank"
        aria-label="must use proper input type and purpose, opens new window">must</a> be used if applicable.
      There are 22 <a href="https://www.w3.org/TR/2011/WD-html5-20110525/the-input-element.html#attr-input-type"
        target="_blank" aria-label="input types, opens new window">input types</a> and 50 <a
        href="https://www.w3.org/TR/WCAG22/#input-purposes" target="_blank"
        aria-label="input purposes, opens new window">input purposes</a> to choose from.
    </li>
  </ul>
  <p>
    There are many other things to consider, so we must make sure each newly added enhancement to the component is
    accessible.
  </p>
</div>

<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      Here is a list of 4 different input elements. Lets look at how they progressively get more complex,
      and how each newly added component is used in an accessible way.
    </p>
  </div>
  <!-- adds css based on mobileView -->
  <div
    [class]="!isMobile ? 'mt-3 mb-3 container justify-content-between align-items-center text-center content d-flex' : 'mt-3 mb-3 container justify-content-between align-items-center text-center content'">
    <div>
      <cel-text-field></cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name"></cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name" data-field-aria-label="Last Name, or family name"></cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name" data-field-aria-label="Last Name, or family name"
        data-field-aria-placeholder="Last Name">
      </cel-text-field>
    </div>
  </div>
  <div class="accordion
    mb-3
    mt-3
    container
    justify-content-between
    align-items-center
    text-center
    content" id="accordion0">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton0" class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed"  type="button" data-bs-toggle="collapse"
          data-bs-target="#codeContainer0" aria-expanded="false" aria-controls="codeContainer0">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
        <div class="accordion-body">
          <strong>Input 1</strong>
          <pre></pre>
          <code>&lt;cel-text-field&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
          <strong>Input 2</strong>
          <pre></pre>
          <code>&lt;cel-text-field</code>
          <code style="color: #006748;"> data-field-label=</code>
          <code>"Last Name"&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
          <strong>Input 3</strong>
          <pre></pre>
          <code>&lt;cel-text-field data-field-label="Last Name" </code>
          <code style="color: #006748;"> data-field-aria-label=</code>
          <code>"Last Name, or family name"&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
          <strong>Input 4</strong>
          <pre></pre>
          <code>&lt;cel-text-field data-field-label="Last Name" data-field-aria-label="Last Name, or family name" </code>
          <code style="color: #006748;"> data-field-aria-placeholder=</code>
          <code>"Last Name"&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <ol>
      <li class="mt-2">
        This input is right out-of-the-box from cel-components. It is accessible, but if we want to add any
        customization, then we must consider adding attributes.
      </li>
      <li class="mt-2">
        This input has its own <code>&lt;label&gt;</code>. We are not creating a custom label, but rather using the
        built-in attribute <code>data-field-label</code>
      </li>
      <li class="mt-2">
        This input is using <strong>HAT</strong>. Notice the same visual label is being announced to the screen reader,
        however; additional content is being added. This is acceptable and a common practice as long as the visual label
        is also included into the accessible label.
      </li>
      <li class="mt-2">
        The fourth input is using a placeholder text. Technically the placeholder text can be whatever meaninful text
        you want it to be, as long as it is supplimental to the <code>&lt;label&gt;</code>.
        This is because once you begin typing into the input-field, the placeholder text will be removed. We cannot have
        our only label disappear.
      </li>
    </ol>
  </div>
</div>

<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      Below are input-fields that are more complex. Each one demonstrates
      how much consideration is necessary when customizing your <code>&lt;cel-text-field&gt;</code> component.
    </p>
  </div>
  <!-- adds css based on mobileView -->
  <div
    [class]="!isMobile ? 'mt-3 mb-3 container justify-content-between align-items-center text-center content d-flex' : 'mt-3 mb-3 container justify-content-between align-items-center text-center content'">
    <div>
      <cel-text-field data-field-label="Email" data-field-aria-placeholder="personal@gmail.com"
        data-helper-label="enter a valid email, no longer than 15 characters. No .edu emails allowed"
        data-max-field-length="15" data-required="true">
      </cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Email" data-field-aria-placeholder="personal@gmail.com"
        data-field-aria-label="Email, enter your personal email" data-field-aria-describedby="textField-5-helperLabelId"
        data-max-field-length="15"
        data-helper-label="enter a valid email, no longer than 15 characters. No .edu emails allowed"
        data-required="true">
      </cel-text-field>
    </div>
    <div>
      <cel-text-field data-input-type="email" data-autocomplete="email" data-field-label="Email"
        data-field-aria-placeholder="personal@gmail.com" data-field-aria-label="Email, enter your personal email"
        data-field-aria-describedby="textField-6-helperLabelId textField-6-describedbyContent"
        data-max-field-length="15"
        data-helper-label="enter a valid email, no longer than 15 characters. No .edu emails allowed"
        data-field-aria-describedby-content="all emails must have an @ symbol" data-required="true">
      </cel-text-field>
    </div>
  </div>
  <div class="accordion
    mb-3
    mt-3
    container
    justify-content-between
    align-items-center
    text-center
    content" id="accordion1">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton1" class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed"  type="button" data-bs-toggle="collapse"
          data-bs-target="#codeContainer1" aria-expanded="false" aria-controls="codeContainer1">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
        <div class="accordion-body">

          <strong>Input 1</strong>
          <pre></pre>
          <code>
            &lt;cel-text-field data-field-label="Email" data-field-aria-placeholder="personal@gmail.com"
            <s>data-field-aria-label="Email, enter your personal email"</s>
          </code>
          <code style="color: #006748;">
            data-helper-label=</code>
          <code>"enter a valid email, no longer than 15 characters. No .edu emails allowed"
          </code>
          <code style="color: #006748;">
            data-max-field-length=</code>
          <code>"15"
          </code>
          <code style="color: #006748;">
            data-required=</code>
          <code>"true"&gt; &lt;/cel-text-field&gt;
          </code>
          <pre></pre>

          <strong>Input 2</strong>
          <pre></pre>
          <code>
            &lt;cel-text-field data-field-label="Email" data-field-aria-placeholder="personal@gmail.com"
          </code>
          <code style="color: #006748;">
            data-field-aria-label=</code>
          <code>"Email, enter your personal email"
          </code>
          <code style="color: #006748;">
            data-field-aria-describedby=</code>
          <code>"textField-5-helperLabelId"
            data-max-field-length="15"
            data-helper-label="enter a valid email, no longer than 15 characters. No .edu emails allowed"
            data-required="true"&gt; &lt;/cel-text-field&gt;
          </code>
          <pre></pre>

          <strong>Input 3</strong>
          <pre></pre>
          <code>
            &lt;cel-text-field
          </code>
          <code style="color: #006748;">
            data-input-type=</code>
          <code>"email"
          </code>
          <code style="color: #006748;">
            data-autocomplete=</code>
          <code>"email" data-field-label="Email" data-field-aria-placeholder="personal@gmail.com"
            data-field-aria-label="Email, enter your personal email"</code>
          <code style="color: #006748"> data-field-aria-describedby=</code><code>"textField-6-helperLabelId
          <mark>textField-6-describedbyContent</mark>"
            data-max-field-length="15"
            data-helper-label="enter a valid email, no longer than 15 characters. No .edu emails allowed"
          </code>
          <code style="color: #006748">
            data-field-aria-describedby-content=</code>
          <code>"all emails must have an @ symbol"
            data-required="true"&gt; &lt;/cel-text-field&gt;
          </code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <ol>
      <li class="mt-2">
        <ul>
          <li>
            <code>data-required=true</code>.
            The <strong>*</strong> is a common way to indicate a required field.
            Thankfully this is handled from the cel-component library where <code>data-required=true</code> injects
            <strong>HTML's </strong> <code>required=true</code> and <strong>ARIA's
            </strong><code>aria-hidden=true</code> hiding the <strong>*</strong>
            from screen readers.
            That way, both sighted users visually recognize the required field and AT user only hear
            <strong>'required'</strong>.
          </li>
          <li>
            We have also added new attributes <code>data-helper-label</code> and <code>data-max-field-length</code>.
            The <code>data-max-field-length</code> attribute limits the number of characters a user can input into the
            field.
            If we add this type of limitation, we also need to communicate this to users.

            In the current design, the <code>data-helper-label</code> is injected into the HTML
            <code>&lt;label&gt;</code> field.
            If we remember, <code>aria-label</code> will overwrite whatever the visual label shows. So in this example,
            we have removed <code>data-field-aria-label</code>;
            so that we can read the appended <code>&lt;label&gt;</code> (<code>&lt;data-helper-label&gt;</code>)
            content.
          </li>
        </ul>
      </li>
      <li class="mt-2">
        This example demonstrates how we can apply both the <code>data-field-aria-label</code> &
        <code>data-field-aria-describedby</code> together.
        The aria-label attribute overwrites the label field, and aria-describedby adds supplemental content by
        referencing any element's ID.
        In this example we reference the <strong>helper-label</strong> ID with our
        <code>data-field-aria-describedby</code> attribute to apply both the <strong>helper-label</strong> content along
        with the <strong>HAT</strong> associated to our <code>data-aria-field-label</code>.
      </li>
      <li class="mt-2">
        This final input is fully loaded with everything an input could possibly need. It is unlikely to use all of
        these attributes at once,
        but we are showcasing how they are accessibily used together.
        <ul>
          <li>
            First let's look at our <code>data-field-aria-describedby</code>. An aria-describedby attribute can
            concatenate
            multiple ID's within the DOM. Here we are referencing the ID of <code>data-helper-label</code> &
            <code>data-field-aria-describedby-content</code>
            to give us a optimally robust description for our input field.
          </li>
          <li>
            Most importantly we have added <code>data-autocomplete</code> & <code>data-input-type</code>.
            These attributes are used to help the browser understand what type of input is being used, and
            assists the user with auto-filling stored data.
            For more information, please reference <a [routerLink]="[]"
              [fragment]="'autocomplete-requirements'">autocomplete requirements</a>.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>


<!-- Bad Examples for training purposes -->
<!-- <div>
  <label id="non-semantic-label" class="text-field-label">First Name</label>
  <cel-text-field id="input1" [attr.data-enable-error]="enableError ? 'true' : null" (blur)="enableError = true"
    data-field-label=""></cel-text-field>
</div>
<div>
  <cel-text-field id="input2" data-aria-label="Last Name" data-field-label="Middle Name"></cel-text-field>
</div>
<div>
  <cel-text-field id="input3" data-required="true" data-field-label="Last Name"></cel-text-field>

        Before we use our AT, try clicking on each label. Notice that the when you click on
      a properly coded <code>&lt;label&gt;</code>, it will automatically move the cursor into the input field.
</div> -->