<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
  <h2>Input Fields</h2>
</div>

<!-- Intro section -->

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p id="test1">Input fields are important for filling out forms or submitting data. They can also be some of the most
    complex
    components when it comes to Accessiblilty.
    If you think about it, an input field can be as simple as an <code>&lt;input></code> and a <code>&lt;label></code>,
    or as complext as a required input, an error message, and an input field where only certain special characters
    allowed. All of this needs to be conveyed to both sighted and non-sighted users.
  </p>
  <p>What makes an accessible input?</p>
  <ul>
    <li>
      A visible label <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank"
        aria-label="must have a visual label associated to the input field, WCAG, opens new window">must</a> be
      semantically associated to the input field
    </li>
    <li>
      If an error message is triggered, either on blur() or on page submit, it <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/status-messages" target="_blank"
        aria-label="must communicate dynamic content to the AT user, WCAG, opens new window">must</a> be announced to
      the AT user.
    </li>
    <li>
      If a field is required it <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/labels-or-instructions" target="_blank"
        aria-label="must visually and semantically communicate required fields to the AT user, WCAG, opens new window">must</a>
      provide that information to both visual and non-sighted users.
    </li>
    <li>
      Placeholder text <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/label-in-name" target="_blank"
        aria-label="must not use placeholder as the only label, WCAG, opens new window">must </a> not be used as the
      label for an input.
    </li>
  </ul>
  <p>
    There are many other things to consider, so we must make sure each newly added enhancement to the component is
    accessible.
  </p>
</div>

<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      Here is a list of 4 different input elements. Lets look at how they progressively get more complex,
      and how each newly added component is used in an accessible way.
    </p>
  </div>
  <!-- adds css based on mobileView -->
  <div
    [class]="!isMobile ? 'mt-3 mb-3 container justify-content-between align-items-center text-center content d-flex' : 'mt-3 mb-3 container justify-content-between align-items-center text-center content'">
    <div>
      <cel-text-field></cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name"></cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name" data-field-aria-label="Last Name, or family name"></cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name" data-field-aria-label="Last Name, or family name"
        data-field-aria-placeholder="Last Name">
      </cel-text-field>
    </div>
  </div>
  <div class="accordion
    mb-3
    mt-3
    container
    justify-content-between
    align-items-center
    text-center
    content" id="accordion0">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#codeContainer0" aria-expanded="false" aria-controls="codeContainer0">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
        <div class="accordion-body">
          <strong>Input 1</strong>
          <pre></pre>
          <code>&lt;cel-text-field&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
          <strong>Input 2</strong>
          <pre></pre>
          <code>&lt;cel-text-field</code>
          <code style="color: #006748;"> data-field-label=</code>
          <code>"Last Name"&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
          <strong>Input 3</strong>
          <pre></pre>
          <code>&lt;cel-text-field data-field-label="Last Name" </code>
          <code style="color: #006748;"> data-field-aria-label=</code>
          <code>"Last Name, or family name"&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
          <strong>Input 4</strong>
          <pre></pre>
          <code>&lt;cel-text-field data-field-label="Last Name" data-field-aria-label="Last Name, or family name" </code>
          <code style="color: #006748;"> data-field-aria-placeholder=</code>
          <code>"Last Name"&gt; &lt;/cel-text-field&gt; </code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <ol>
      <li>
        This input is right out-of-the-box from cel-components. It is accessible, but if we want to add any
        customization, then we must consider adding attributes.
      </li>
      <br>
      <li>
        This input has its own <code>&lt;label&gt;</code>. We are not creating a custom label, but rather using the
        built-in attribute <code>data-field-label</code>
      </li>
      <br>
      <li>
        This input is using <strong>HAT</strong>. Notice the same visual label is being announced to the screen reader,
        however; additional content is being added. This is acceptable and a common practice as long as the visual label
        is also included into the accessible label.
      </li>
      <br>
      <li>
        The fourth input is using a placeholder text. Technically the placeholder text can be whatever meaninful text
        you want it to be, as long as it is supplimental to the <code>&lt;label&gt;</code>.
        This is because once you begin typing into the input-field, the placeholder text will be removed. We cannot have
        our only label disappear.
      </li>
    </ol>
  </div>
</div>

<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      Below are input-fields that are more complex. Each one demonstrates
      how much consideration is necessary when customizing your <code>&lt;cel-text-field&gt;</code> component.
    </p>
  </div>
  <!-- adds css based on mobileView -->
  <div
    [class]="!isMobile ? 'mt-3 mb-3 container justify-content-between align-items-center text-center content d-flex' : 'mt-3 mb-3 container justify-content-between align-items-center text-center content'">
    <div>
      <cel-text-field data-field-label="Last Name" data-field-aria-placeholder="Last Name"
        data-helper-label="please enter a last name no longer than 10 characters" data-max-field-length="10"
        data-required="true">
      </cel-text-field>
    </div>
    <div>
      <cel-text-field data-field-label="Last Name" data-field-aria-placeholder="Last Name"
        data-field-aria-label="Last Name, or family name" data-field-aria-describedby="textField-5-helperLabelId"
        data-max-field-length="10" data-helper-label="please enter a last name no longer than 10 characters"
        data-required="true">
      </cel-text-field>
    </div>
    <div>
      <cel-text-field data-input-type="family-name" data-field-label="Last Name" data-field-aria-placeholder="Last Name"
        data-field-aria-label="Last Name, or family name" data-field-aria-describedby="textField-6-helperLabelId textField-6-describedbyContent"
        data-max-field-length="10" data-helper-label="please enter a last name no longer than 10 characters"
        data-field-aria-describedby-content="If you do not have a last name, please enter 'N/A'"
        data-required="true">
      </cel-text-field>
    </div>
  </div>
  <div class="accordion
    mb-3
    mt-3
    container
    justify-content-between
    align-items-center
    text-center
    content" id="accordion1">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton1" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#codeContainer1" aria-expanded="false" aria-controls="codeContainer1">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
        <div class="accordion-body">
          <strong>Input 1</strong>
          <pre></pre>
          <code>&lt;cel-text-field data-field-label="Last Name" data-field-aria-placeholder="Last Name"
            <s>data-field-aria-label="Last Name, or family name"</s></code>
          <code style="color: #006748;"> data-helper-label=</code>
          <code>"please enter a last name no longer than 10 characters"</code>
          <code style="color: #006748;"> data-max-field-length=</code>
          <code>"10"</code>
          <code style="color: #006748;"> data-required=</code>
          <code>"true"
            &gt; &lt;/cel-text-field&gt;</code>
          <pre></pre>
          <strong>Input 2</strong>
          <pre></pre>
          <code>&lt;cel-text-field data-field-label="Last Name" data-field-aria-placeholder="Last Name"
            </code>
          <code style="color: #006748;">data-field-aria-label=</code>
          <code>"Last Name, or family name"</code> 
          <code style="color: #006748;"> data-field-aria-describedby=</code>
          <code>"textField-5-helperLabelId"
            data-max-field-length="10"
            data-helper-label="please enter a last name no longer than 10 characters"
            data-required="true"&gt; &lt;/cel-text-field&gt;</code>
          <pre></pre>
          <strong>Input 3</strong>
          <pre></pre>
          <code>&lt;cel-text-field</code> <code style="color: #006748;"> data-input-type=</code>
          <code>"family-name" data-field-label="Last Name" data-field-aria-placeholder="Last Name"
            data-field-aria-label="Last Name, or family name" data-field-aria-describedby="textField-6-helperLabelId"
            data-max-field-length="10"
            data-helper-label="please enter a last name no longer than 10 characters"</code>
           <code style="color: #006748"> data-field-aria-describedby-content=</code>
           <code>"If you do not have a last name, please enter 'N/A'"
            data-required="true"&gt; &lt;/cel-text-field&gt;</code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <ol>
      <li>
        Lets take a closer look at this input-field. Visually we can see a few new additions
      </li>
      <br>
      <li>
        This input has its own <code>&lt;label&gt;</code>. We are not creating a custom label, but rather using the
        built-in attribute <code>data-field-label</code>
      </li>
      <br>
      <li>
        This input is using <strong>HAT</strong>. Notice the same visual label is being announced to the screen reader,
        however; additional content is being added. This is acceptable and a common practice as long as the visual label
        is also included into the accessible label.
      </li>
      <br>
      <li>
        The fourth input is using a placeholder text. Technically the placeholder text can be whatever meaninful text
        you want it to be, as long as it is supplimental to the <code>&lt;label&gt;</code>.
        This is because once you begin typing into the input-field, the placeholder text will be removed. We cannot have
        our only label disappear.
      </li>
    </ol>
  </div>
</div>


<!-- Bad Examples for training purposes -->
<!-- <div>
  <label id="non-semantic-label" class="text-field-label">First Name</label>
  <cel-text-field id="input1" [attr.data-enable-error]="enableError ? 'true' : null" (blur)="enableError = true"
    data-field-label=""></cel-text-field>
</div>
<div>
  <cel-text-field id="input2" data-aria-label="Last Name" data-field-label="Middle Name"></cel-text-field>
</div>
<div>
  <cel-text-field id="input3" data-required="true" data-field-label="Last Name"></cel-text-field>

        Before we use our AT, try clicking on each label. Notice that the when you click on
      a properly coded <code>&lt;label&gt;</code>, it will automatically move the cursor into the input field.
</div> -->