<header>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</header>
<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p>Welcome to the Angular Accessibility Training. This application is designed to showcase some of the accessibility
    features that are baked into our Cel-Components. The purpose is to introduce accessibility in a practical and
    <strong>developer</strong> centric manner.
  </p>
  <!-- <p>
  Each page will use cel-components in different ways to show how to make our code more accessible when importing components. 
</p> -->
  <p>Before you begin, you will need to install a screen reader, or Assistive Technology <strong
      class="text-primary-emphasis">(AT)</strong> for short.</p>
  <p><strong>Windows</strong> devices use <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
      aria-label="NVDA installation, opens new window" target="_blank" href="https://www.nvaccess.org/download/">NVDA</a>.</p>
  <p><strong>Mac</strong> devices use <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
      aria-label="Voiceover set-up, opens new window" target="_blank"
      href="https://support.apple.com/guide/voiceover/get-started-vo4be8816d70/10/mac/15.0">Voiceover</a>.</p>
  <p>You can use the confluence page <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
      aria-label="Assistive Technology navigation keys guidance, opens new window" target="_blank"
      href="https://agile-savvas.atlassian.net/wiki/spaces/LSADA/pages/793247793/AT+navigation+keys">Assistive
      Technology</a> or Deque's  <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
      aria-label="Screen reader keyboard shortcuts, opens new window" target="_blank" href="https://dequeuniversity.com/screenreaders/voiceover-keyboard-shortcuts">Screen
      Reader Keyboard Shortcuts</a>
       that can help you navigate the application.</p>
</div>


<!-- Resources -->


<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <h2>Resources</h2>
  <p id="randomText">For a refresher on Angular please complete the walkthrough.</p>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
      </svg>

      <span>Learn Angular</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>
</div>

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <footer>
    <div class="card-body override-container">
      <h2 class="card-title">Support</h2>
      <p>
        Report a Bug or Submit Feedback
      </p>
      <p class="card-text">We are always trying to improve. Please let us know how!</p>
      <div class="d-grid gap-2 col-1 mt-3 mb-3">
      <a [href]="emailPath"
        target="_blank" class="btn btn-primary">
        Submit
      </a>
      </div>
    </div>
  </footer>
</div>

