<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <h2 class="h4 text-body-secondary">{{title}}</h2>
</div>

<!-- Intro Section -->

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
        Checkbox groups, just like radio groups, require a label for each individual list item. A
        group label is also required. Each element must be interactive with both a keyboard and a mouse.
    </p>
    <p>
        Radio groups and checkbox groups differ in navigation and selection.
        In a radio group, users tab into the group and use arrow keys to toggle 1 option at a time.
        In a checkbox group, users tab to each individual checkbox and can select multiple options.
    </p>
    <p><strong>Required</strong></p>
    <ul>
        <li>
            There
            <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/info-and-relationships" target="_blank"
                aria-label="must have a visual and meaningful group label, WCAG, opens new window">must</a> be a
            visible goup label.
        </li>
        <li>
            Each selectable option <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/labels-or-instructions" target="_blank"
                aria-label="must have a visible descriptive for each input, WCAG, opens new window">must</a> have a
            visible label.
        </li>
        <li>
            The state of each element <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank"
                aria-label="must semantically or programmatical be correct, WCAG, opens new window">must</a> be
            programmatically
            determinable.
        </li>
        <li>
            Each element <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/keyboard" target="_blank"
                aria-label="must be operable by keyboard, WCAG, opens new window">must</a> be operable by keyboard.
        </li>
        <li>
            The visible label <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/label-in-name" target="_blank"
                aria-label="must have the same hidden and visual label, WCAG, opens new window">must</a> match the
            hidden label.
        </li>
        <li>
            The state of each element <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-contrast" target="_blank"
                aria-label="must have sufficient contrast, WCAG, opens new window">must</a> have a contrast ratio of 3:1.
        </li>
    </ul>
    <p><strong>Best Practice</strong></p>
    <ul>
        <li>
            Do not nest interactive elements inside a checkbox.
        </li>
        <li>
            If the selection triggers dynamic content on the page...
        </li>
            <ol>
                <li>
                    Ensure that the user is informed of the change.
                </li>
                <li>
                    Have that dynamic content display outside of the checkbox group.
                </li>
            </ol>
            <li>
                Labels should be visually adjacent.
            </li>
            <li>
                If the field is required, ensure checkboxes or radio groups are visibly and programmatically marked as required.
            </li>
    </ul>


</div>

<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
    <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
        <p>
           Navigate to each element using tab. Use the spacebar to select or deselect each checkbox.
        If marked up correctly, when you enter a checkbox group, you will hear the checkbox label, the state, and the group name.
    </p>
    </div>

    <div *ngFor="let checkbox of checkboxList; let i =index">
        <div class="
        container
        d-flex
        justify-content-between
        align-items-center
        content
        ">
            <div>
                <cel-checkbox-group [attr.data-show-checkbox-group-horizontal]="!isMobile" [label]="checkbox.label"
                    [itemList]="checkbox.checkboxGroup"></cel-checkbox-group>
            </div>
        </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion2">
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button id="accordionButton2"
                    class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#codeContainer2" aria-expanded="false"
                    aria-controls="codeContainer2">
                    Expand Code
                </button>
            </h3>
            <div id="codeContainer2" class="accordion-collapse collapse" data-bs-parent="#accordion2">
                <div class="accordion-body">
                    <strong>Checkbox Group 1</strong>
                    <pre></pre>
                    <code>
              <strong>
                &lt;cel-checkbox-group
              </strong>
            </code>
                    <code style="color: #006748;">
              [attr.data-show-checkbox-group-horizontal]=</code>
                    <code>"!isMobile"
            </code>
                    <code style="color: #006748;">
              [label]=</code>
                    <code>"checkbox.label"
            </code>
                    <code style="color: #006748;">
              [itemList]=</code>
                    <code>"checkbox.checkboxGroup"<strong>&gt;
              &lt;/cel-checkbox-group&gt;
            </strong>
            </code>
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="details-container">
        <p>
            We have a disabled checkbox. This is a good example of how to show a disabled state. Users can
            still navigate to the element and hear the state, buy by default is it skipped in the tabindex.
            There are different patterns one can take with disabled elements, however it should only be used
            when absolutely necessary.
        </p>
        <p>
            <span class="badge fs-7 text-bg-warning"> <cel-icon data-color="black" data-size="small"
                data-name="alert-triangle"></cel-icon> Warning</span> 
            <code> &lt;cel-checkbox-group&gt;</code> currently does not support horizontal.
        </p>
    </div>
</div>