<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <h2 class="h4 text-body-secondary">{{title}}</h2>
</div>

<!-- Intro Section -->

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
        Checkbox groups, just like radio groups, require a label for each individual list item. A
        group label is also required. Each element must be interactive with both a keyboard and a mouse.
    </p>
    <p>
        The main difference between radio groups and checkbox groups is how a user navigates the elements. 
        When tabbing into a radio group, you use arrow keys to 
        choose different options. Generally 1 item in a radio group is active at a time. With checkbox groups,
        users can tab to each individual checkbox, and can select however many they want.
    </p>
    <p><strong>Required</strong></p>
    <ul>
        <li>
            Starting from the top level of the component, grouped inputs
            <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/info-and-relationships" target="_blank"
                aria-label="must have a visual and meaningful group label, WCAG, opens new window">must</a> have a
            visible,
            meaningful label <code>&lt;legend&gt;</code>. These are crucial
            for the understanding and purpose of the radio group. They can be seen as the instructions or the group
            label.
        </li>
        <li>
            Similar to many other elements, each individual radio button <a
                class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/labels-or-instructions" target="_blank"
                aria-label="must have a visible descriptive for each input, WCAG, opens new window">must</a> have a
            visible
            label. All users need to know what each button represents.
        </li>
        <li>
            The name, role, state, & value <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
                href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank"
                aria-label="must semantically or programmatical be correct, WCAG, opens new window">must</a> be
            programmatically
            determinable. <em>(<strong>role</strong> is often baked into the native
                HTML<code> &lt;button&gt; </code>component</em> | <em><strong>name</strong> is the visible text</em> |
            <em><strong>value, state</strong> are required for more complex functionality)</em>
        </li>
    </ul>
</div>

<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
    <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
        <p>
            This first radio group is using the bare mininmum to be accessible. There is a group
            label, and each radio button has a visible label. Only 2 props are required to pass accessibility when using
            cel-components.
        </p>
    </div>

    <div *ngFor="let checkbox of checkboxList; let i =index">
        <div class="
        container
        d-flex
        justify-content-between
        align-items-center
        content
        ">
            <div>
                <cel-checkbox-group [attr.data-show-checkbox-group-horizontal]="!isMobile" [label]="checkbox.label" [itemList]="checkbox.checkboxGroup"></cel-checkbox-group>
            </div>
        </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button id="accordionButton0"
                    class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
                    aria-controls="codeContainer0">
                    Expand Code
                </button>
            </h2>
            <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
                <div class="accordion-body">
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="details-container">
        <p>
            When you select an input, you will hear the <strong>state</strong> of "selected" be announced.
            In the second input of the second radio group, the <strong>state</strong> of "disabled" is announced.
            <br>
            <code>data-show-radio-group-horizontal</code> is
            a styled property that changes display of the radio group,
            <code> header </code> <small>(Not to be confused with &lt;header&gt; or &lt;h1&gt;...)</small> is providing
            the group label or <code>&lt;legend&gt;</code>
            and <code>list</code> is an array of objects defined in the code elsewhere.
            <em>Notice that in larger viewports the
                radio group is displayed horizontally. Despite
                its visual appearance; the key navigation remains the same. </em>
        </p>
    </div>
</div>