<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
  <h2 class="h4 text-body-secondary">{{title}}</h2>
</div>

<!-- <div class="container border border-2 border-dark-subtle" id="group-container"> -->


  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p>
      Icons vs tooltips
    </p>
    <p>Required</p>
    <ul>
      <li>
       
      </li>
      <li>
        
      </li>
      <li>
       
      </li>
    </ul>
  </div>

  <div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
    <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
      <p>

      </p>
    </div>
    <div class="
    mt-3
    mb-3
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
      <div class="override-container">
        <cel-icon id="button0" data-label="Cancel"> </cel-icon>
      </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button id="accordionButton0"
            class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
            aria-controls="codeContainer0">
            Expand Code
          </button>
        </h2>
        <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
          <div class="accordion-body">
            <strong>Button1</strong>
            <pre></pre>
            <code><strong>&lt;cel-button</strong> id="button0" data-label="Cancel"<strong>&gt;</strong> <strong>&lt;/cel-button&gt;</strong></code>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="details-container">
      <p>

      </p>
    </div>
  </div>

  <div class="form-control border-primary-subtle border-2 container mb-3 mt-3">
    <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
      <p>
       
      </p>
    </div>
    <div class="
    mt-3
    mb-3  
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
      <div class="override-container">
        <cel-button id="button1" data-label="Cancel"
          data-button-aria-label="Cancel, we are using data-aria-label to pass hidden accessible text to the user"></cel-button>
      </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion1">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button id="accordionButton1"
            class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#codeContainer1" aria-expanded="false"
            aria-controls="codeContainer1">
            Expand Code
          </button>
        </h2>
        <div id="codeContainer1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
          <div class="accordion-body">
            <strong>Button2</strong>
            <pre></pre>
            <code><strong>&lt;cel-button</strong> id="button1" 
            data-label="Cancel"</code> <code style="color: #006748;"> data-button-aria-label=</code>
            <code>"Cancel, we are using data-aria-label to pass hidden accessible text to the user"<strong>&gt;</strong><strong>&lt;/cel-button&gt;</strong></code>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="details-container">
      <p>

      </p>
    </div>
  </div>

  <div class="form-control border-primary-subtle border-2 container mb-3 mt-3">
    <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
      <p>

      </p>
    </div>
    <div class="
    mt-3
    mb-3  
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
      <div class="override-container">
        <cel-button id="button2" data-toggle="true" data-label="Cancel"></cel-button>
      </div>
    </div>
    <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion2">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button id="accordionButton2"
            class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#codeContainer2" aria-expanded="false"
            aria-controls="codeContainer2">
            Expand Code
          </button>
        </h2>
        <div id="codeContainer2" class="accordion-collapse collapse" data-bs-parent="#accordion2">
          <div class="accordion-body">
            <strong>Button3</strong>
            <pre></pre>
            <code><strong>&lt;cel-button</strong> id="button2" 
            data-label="Cancel"</code> <code style="color: #006748;"> data-toggle=</code>
            <code>"true"<strong>&gt;</strong><strong>&lt;/cel-button&gt;</strong></code>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="details-container">
      <p>
      </p>
    </div>
  </div>

<!-- </div> -->

<!-- Provide Error example either in new page or at the bottom of the page here -->