<div class="
    container
    d-flex
    justify-content-between
    align-items-center
    text-center
    content
  ">
  <h2 class="h4 text-body-secondary">{{title}}</h2>
</div>


<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p class="text-error bg-warning rounded d-flex container-fluid justify-content-center">
    <strong>DO NOT USE NATIVE TOOLTIPS UNLESS THEY ARE CUSTOMIZED!</strong>
  </p>
  <p>
    Let's clear the air on what a tooltip is. Historically and colloquially, a tooltip is a native browser
    popup that displays on hover. This is applied with the <strong>title</strong> attribute.
    We can already infer a few things wrong with this. A native HTML tooltip alone
    does not suffice in today's accessibility standards. A tooltip may be visible for individuals using a mouse,
    but anyone on a mobile device or using strictly keyboard navigation will never see these tooltips.
  </p>
  <p>
    There is language that permits the <strong>title</strong> attribute despite its inherent inaccessibility,
    but for the purposes of this training, all content is expected to be accessible to all.
  </p>
  <p>
    <em class="text-decoration-underline">
      This means that we won't be discussing <strong>title</strong> and how it can pass if it is only providing
      supplemental content
      nor the innate inaccessibility of a user agent's and their inability to parse the <strong>title</strong> attribute
      on focus.
    </em>
  </p>
  <p>
    Now, using <strong>title</strong> is not wrong, and sometimes it can be useful — it just needs to be used
    sparingly.
    For instance, using a Native HTML tooltip on an icon button or icon link is a good practice. However, it is almost
    always
    preferred to provide a tooltip that displays both onHover and onFocus.
  </p>
  <p>
    <span class="badge fs-7 text-bg-warning"> <cel-icon data-color="black" data-size="small"
        data-name="alert-triangle"></cel-icon>Warning</span> Currently, cel-components does not support custom tooltips
    and only relies on the <strong>title</strong>
    attribute. We should migrate away from this practice.
  </p>
</div>

<div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
  <p>
    <strong>Required</strong>
  </p>
  <ul>
    <li>
      Icons must have a sufficient color contrast of 3:1. They must not break the contrast of surrounding colors. <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-contrast" target="_blank">WCAG 1.4.11</a>
    </li>
    <li>
      Icons and images should not include text as part of the icon or image. <a
        class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
        href="https://www.w3.org/WAI/WCAG22/Understanding/images-of-text" target="_blank">WCAG 1.4.5</a>
    </li>
    <ol>
      <li>
        <strong>Decorative</strong>
      </li>
      <ul>
        <li>
          Icons must have an empty alt attribute. <a
            class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-content" target="_blank">WCAG 1.1.1</a>
        </li>
      </ul>
      <li>
        <strong>Non-Decorative</strong>
      </li>
      <ul>
        <li>
          Icons must have a text alternative. <a
            class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-content" target="_blank">WCAG 1.1.1</a>
        </li>
        <li>
          If interactive, they must have a tabindex <a
            class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/keyboard" target="_blank">WCAG 2.1.1</a>
        </li>
        <li>
          Use of color cannot be the only thing to convey meaning. <a
            class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/use-of-color" target="_blank">WCAG 1.4.1</a>
        </li>
        <li>
          Icons must be consistently identified and used across the application. <a
            class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/consistent-behavior" target="_blank">WCAG 3.2.3 </a>
          &nbsp;
          <a class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/consistent-navigation" target="_blank"> WCAG 3.2.4</a>
        </li>
        <li>
          Content that appears on focus needs to be dismissible without moving the mouse. <a
            class="text-info-emphasis fw-semibold link-underline-info link-offset-2"
            href="https://www.w3.org/WAI/WCAG22/Understanding/content-on-hover-or-focus" target="_blank">WCAG 1.4.13</a>
        </li>
      </ul>
    </ol>
  </ul>
  <p>
    <strong>Best Practice</strong>
  </p>
  <ul>
    <li>
      Do not rely on the title attribute to provide alternative text. It should only be supplemental and non-required
      information.
    </li>
    <li>
      Do not use the title attribute with an aria-label to avoid AT redundant announcement.
    </li>
    <li>
      Provide visible text labels when possible. If you cannot, then at least provide a custom tooltips on
      ambiguous icons.
    </li>
    <li>
      <strong>DO NOT rely on tooltips!</strong> Use them sparingly. If it is important enough for a popover, it should
      have its own space on the page.
    </li>
  </ul>
</div>
<div class="container border border-success border-2 mt-3 mb-3" id="content-container">
  <p>
    <strong>Key Differences</strong>
  </p>
  <ul>
    <li>
      <strong>Icon</strong>
      <ol>
        <li>
          Icons do not inherently have a tabindex.
        </li>
        <li>
          If decorative, icons should have an empty alt attribute.
        </li>
        <li>
          Icons should never be used as a selectable item unless it is wrapped by an interactive element.
        </li>
      </ol>
    </li>
    <li>
      <strong>Icon-Button</strong>
      <ol>
        <li>
          Icon-buttons inherently have a tabindex.
        </li>
        <li>
          Icon-buttons should perform some action.
        </li>
        <li>
          Cel-icon-buttons <em>(currently)</em> are not fully accessible, as they discriminate
          against keyboard users.
        </li>
        <li>
          Icon-buttons that use only the <em>title</em> attribute are not a good practice.
        </li>
      </ol>
    </li>
    <li>
      <strong>Icon-Button (custom)</strong>
      <ol>
        <li>
          Icon-buttons should have a tabindex.
        </li>
        <li>
          Icon-buttons should perform some action.
        </li>
        <li>
          Icon-buttons, if ambiguous, should have tooltips on hover and focus.
        </li>
      </ol>
    </li>
  </ul>
</div>



<!-- Component Grouping -->


<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p class="d-flex justify-content-center align-items-center">
      <strong>Hover & Focus</strong>
    </p>
    <p>
      Hover and tab to each element.
      When design wants an icon and <strong>not</strong> an icon button, that icon should be coupled with a text label.
    </p>
    <p>
      If that icon is interactive, it <strong>must</strong> have a tabindex. Use <code>&lt;cel-icon-button&gt;</code>
      instead.
    </p>
  </div>
  <div class="
    mt-3
    mb-3
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <p class="mb-0">Assign</p>
        <cel-icon id="assign" data-tooltip-label="Assign" data-name="assign"></cel-icon>
      </div>
      <cel-icon-button data-color="primary" data-name="assign" data-tooltip-label="Assign">
      </cel-icon-button>
      <cel-icon-button data-color="primary" data-icon-button-aria-label="Assign" data-name="assign"
        data-bs-tooltip="true" data-bs-title="Assign"></cel-icon-button>
    </div>
  </div>
  <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton0"
          class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
          aria-controls="codeContainer0">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
        <div class="accordion-body">
          <strong>Icon</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon</strong></code>
          <code style="color: #006748;"> data-tooltip-label=</code>
          <code>"Assign" </code>
          <code> data-name=</code>
          <code>"assign"<strong>&gt;&lt;/cel-icon&gt;</strong></code>
          <pre></pre>

          <strong>Icon Button</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon-button</strong></code>
          <code> data-color=</code>
          <code>"primary"</code>
          <code> data-name=</code>
          <code>"assign"</code>
          <code style="color: #006748;">  data-tooltip-label=</code>
          <code>"Assign"<strong>&gt;&lt;/cel-icon-button&gt;</strong></code>
          <pre></pre>

          <strong>Icon Button (custom)</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon-button</strong></code>
          <code> data-color=</code>
          <code>"primary"</code>
          <code> data-icon-button-aria-label=</code>
          <code>"Assign"</code>
          <code> data-name=</code>
          <code>"assign"</code>
          <code style="color: #006748;">data-bs-tooltip=</code>
          <code>"true" </code>
          <code style="color: #006748;">data-bs-title=</code>
          <code>"Assign"<strong>&gt;&lt;/cel-icon-button&gt;</strong></code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <p>
      When using custom tooltips, the tooltip must be dismissible
      without moving the mouse. Press the <strong>Esc</strong> key to dismiss the onHover, onFocus tooltip.
    </p>
  </div>
</div>


<!-- Component Grouping -->


<div class="form-control border-primary-subtle border-2 container mt-3 mb-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p class="d-flex justify-content-center align-items-center">
      <strong> Tooltip Icon with Popover</strong>
    </p>
    <p>
      Combining a tooltip with a popover is a great way to provide more information to the user.
      Let's discuss the practicality and complexity required for it.
    </p>
    <ul>
      <li>
        How will the popover look on a smaller viewport?
      </li>
      <li>
        How do we notify the user that the button opens a popover?
      </li>
      <li>
        How do we announce the content once the popover is displayed?
      </li>
      <li>
        Where do we move the focus on activation and on dismissal?
      </li>
      <li>
        Is there content inside the popover that needs styling or labeling?
      </li>
    </ul>
    <p>
      You may very well have an answer to all of these questions. It is certainly not wrong, and in some cases,
      it's necessary, but there are likely better solutions out there.
    </p>
    <p>
      Here are some guildeines.
    </p>
    <ul>
      <li>
        If its important, try to fit it on the page and not hidden inside a popover.
      </li>
      <li>
        If the content is already written somewhere else on the page, do not take page space with redundancy, use
        aria-describedby.
      </li>
      <li>
        Directions and labels should be concise and are a clearer way to provide information.
      </li>
      <li>
        If your content is succinct, but still contains too much text, only then is a popover appropriate.
      </li>
    </ul>
    <p>
      We must exercise extreme caution when using popovers. The more properties a component has, the greater the risk of
      introducing errors.
    </p>
  </div>
  <div class="
    mt-3
    mb-3
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="d-flex justify-content-between align-items-center">
      <cel-icon-button data-color="grey-darker" data-has-popover="true" data-name="information-circle">
        <div>
          <p>If this is important information, we probably should be displaying this on the page to prevent
            anyone potentially skipping this content.</p>
        </div>
      </cel-icon-button>
      <cel-icon-button data-toggle="true" data-identifier="info-btn" data-icon-button-aria-label="information popup"
        data-color="grey-darker" data-has-popover="true" data-open-popover="false"
        data-tooltip-label="information popup" data-name="information-circle">
        <div>
          <p>If this is important information, we probably should be displaying this on the page to prevent
            anyone potentially skipping this content.</p>
        </div>
      </cel-icon-button>
    </div>
  </div>
  <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion0">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton0"
          class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#codeContainer0" aria-expanded="false"
          aria-controls="codeContainer0">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer0" class="accordion-collapse collapse" data-bs-parent="#accordion0">
        <div class="accordion-body">
          <strong>Tooltip Icon Popover 1</strong>
          <pre></pre>
          <code>
            <strong>&lt;cel-icon-button</strong>
          </code>
          <code>
            data-color="grey-darker"
            data-has-popover="true"
            data-name="information-circle"
          </code>
          <code>
            <strong>&gt;</strong>
          </code>
          <pre></pre>
          <code>
            <strong>&lt;div&gt;</strong>
          </code>
          <code>
            <strong>&lt;p&gt;</strong> 
            If this is important information, we probably should be displaying this on the page to prevent 
            anyone potentially skipping this content. 
            <strong>&lt;/p&gt;</strong>
          </code>
          <code>
            <strong>&lt;/div&gt;</strong>
          </code>
          <pre></pre>
          <code>
            <strong>&lt;/cel-icon-button&gt;</strong>
          </code>
          <pre></pre>
          <strong>Tooltip Icon Popover 2</strong>
          <pre></pre>
          <code>
            <strong>&lt;cel-icon-button</strong>
          </code>
            <code style="color: #006748;"> data-toggle=</code>
            <code>"true"</code>
            <code style="color: #006748"> data-identifier=</code>
            <code>"info-btn"</code>
            <code style="color: #006748"> data-icon-button-aria-label=</code>
            <code>"information popup"
            data-color="grey-darker"
            data-has-popover="true"</code>
            <code style="color: #006748"> data-tooltip-label=</code>
            <code>"information popup"
            data-name="information-circle"
          </code>
          <code>
            <strong>&gt;</strong>
          </code>
          <pre></pre>
          <code>
            <strong>&lt;div&gt;</strong>
          </code>
          <code>
            <strong>&lt;p&gt;</strong> 
            If this is important information, we probably should be displaying this on the page to prevent 
            anyone potentially skipping this content. 
            <strong>&lt;/p&gt;</strong>
          </code>
          <code>
            <strong>&lt;/div&gt;</strong>
          </code>
          <pre></pre>
          <code>
            <strong>&lt;/cel-icon-button&gt;</strong>
          </code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <strong class="d-flex justify-content-center align-items-center">First Icon Popover</strong>
    <em>
      The first icon has the bare minimum required for the tooltip icon popover to work.
    </em>
    <dl class="row">
      <dt class="col-sm-3">Mouse</dt>
      <dd class="col-sm-9">❌ Use your mouse to interact with the icon. It lacks the tooltip, but all other functionality
        works as expected.
      <dt class="col-sm-3">Keyboard</dt>
      <dd class="col-sm-9">✅ Use your keyboard to interact with the icon. It receives focus, it activates on space or
        enter, and is dismissable.
        This also seems to be sufficient for keyboard users <em>(given the icon is a universal icon that does not
          require a tooltip).
        </em>
      </dd>
      <dt class="col-sm-3">AT</dt>
      <dd class="col-sm-9">
        ❌ Tab to the element.
        <ul>
          <li>
            There is no meaningful label for the tooltip
          </li>
          <li>
            The button is announced as collapsible.
          </li>
          <li>
            On activation, the content is not announced.
          </li>
          <li>
            When dismissed, the focus is lost.
          </li>
          <li>
            The default style of the popover breaks reflow criteria.
          </li>
        </ul>
      </dd>
    </dl>
    <strong class="d-flex justify-content-center align-items-center">Second Icon Popover</strong>
    <em>
      This icon has all the required props from cel-components to meet accessibility.
    </em>
    <dl class="row">
      <dt class="col-sm-3">Mouse</dt>
      <dd class="col-sm-9">✅ Use your mouse to interact with the icon. It work as expected.
      <dt class="col-sm-3">Keyboard</dt>
      <dd class="col-sm-9">✅ Use your keyboard to interact with the icon. It receives focus, it activates on space or
        enter, and is dismissable.
        This also seems to be sufficient for keyboard users <em>(given the icon is a universal icon that does not
          require a tooltip).
        </em>
      </dd>
      <dt class="col-sm-3">AT</dt>
      <dd class="col-sm-9">
        ✅ Tab to the element.
        <ul>
          <li>
            There is a meaningful label for the tooltip
          </li>
          <li>
            The button does announce a popover.
          </li>
          <li>
            On activation, the content is not announced, but some content is announced.
          </li>
          <li>
            Focus is managed.
          </li>
          <li>
            Reflow is handled.
          </li>
        </ul>
      </dd>
    </dl>
    <p>
      Approximately one-third of users ignore tooltips, and their effectiveness decreases as their frequency increases.
      <small role="note" class="blockquote-footer"><cite>NNG, Apty, Userlane</cite></small>
    </p>
  </div>
</div>

<!-- Component Grouping -->


<div class="form-control border-primary-subtle border-2 container mb-3 mt-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p class="d-flex justify-content-center align-items-center">
      <strong>Ambiguous Icons Buttons</strong>
    </p>
    <p>
      The icons below are not universally understood. It is crucial that designs consider the usability, practicality,
      and clarity of the icons we use.
      Not every user is a screen reader user, so not everyone will understand the function of the
      <code>&lt;cel-icon-button&gt;</code> just by looking at it.
    </p>
    <p>
      Tooltips are the hero in this scenario ➡️ where <strong>onHover()</strong> and
      <strong>onFocus()</strong> stand out.
    </p>
  </div>
  <div class="
    mt-3
    mb-3  
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="d-flex justify-content-between align-items-center">
      <cel-icon-button data-color="primary" data-name="about-author" data-tooltip-label="About author">
      </cel-icon-button>
      <cel-icon-button data-color="primary" data-icon-button-aria-label="About author" data-name="about-author"
        data-bs-tooltip="true" data-bs-title="About Author"></cel-icon-button>
    </div>
  </div>
  <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion1">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton1"
          class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#codeContainer1" aria-expanded="false"
          aria-controls="codeContainer1">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
        <div class="accordion-body">
          <strong>Icon Button</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon-button</strong></code>
          <code> data-color=</code>
          <code>"primary"</code>
          <code> data-name=</code>
          <code>"about-author"</code>
          <code> data-tooltip-label=</code>
          <code>"About Author"<strong>&gt;&lt;/cel-icon-button&gt;</strong></code>
          <pre></pre>

          <strong>Icon Button (custom)</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon-button</strong></code>
          <code> data-color=</code>
          <code>"primary"</code>
          <code> data-icon-button-aria-label=</code>
          <code>"About Author"</code>
          <code> data-name=</code>
          <code>"about-author"</code>
          <code> data-bs-tooltip=</code>
          <code>"true"</code>
          <code> data-bs-title=</code>
          <code>"About Author"<strong>&gt;&lt;/cel-icon-button&gt;</strong></code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <p>
      Hopefully, you now you can see the strength of custom tooltips.
      Notice without a visible label on icons, keyboard users have no way to understand the purpose
      of the icons and icon-buttons.
    </p>
  </div>
</div>


<!-- Component Grouping -->

<div class="form-control border-primary-subtle border-2 container mb-3 mt-3">
  <div class="container border border-primary-subtle mt-3 mb-3" id="content-container">
    <p class="d-flex justify-content-center align-items-center">
      <strong>Use of Color</strong>
    </p>
    <p>
      If we heavily rely on color, we fall into another problem with our native HTML <strong>title</strong> attributes.
    </p>
    <p>
      There is no way for color blind keyboard users to distinguish between the icons below without a custom tooltip.
    </p>
  </div>
  <div class="
    mt-3
    mb-3  
    container
    justify-content-between
    align-items-center
    text-center
    content
  ">
    <div class="d-flex justify-content-between align-items-center">
      <cel-icon tabindex="0" aria-label="wifi strong" data-tooltip-label="Strong" data-color="primary"
        data-name="wifi-online"></cel-icon>
      <cel-icon tabindex="0" aria-label="wifi weak" data-color="notification" data-name="wifi-online"
        data-tooltip-label="Weak">
      </cel-icon>
      <cel-icon tabindex="0" aria-label="wifi offline" data-color="primary" data-color="error" data-name="wifi-online"
        data-bs-tooltip="true" data-bs-title="Off-line"></cel-icon>
    </div>
  </div>
  <div class="accordion
              mb-3
              mt-3
              container
              justify-content-between
              align-items-center
              text-center
              content" id="accordion2">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button id="accordionButton2"
          class="border border-secondary border-1 bg-info bg-opacity-10 accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#codeContainer2" aria-expanded="false"
          aria-controls="codeContainer2">
          Expand Code
        </button>
      </h2>
      <div id="codeContainer2" class="accordion-collapse collapse" data-bs-parent="#accordion2">
        <div class="accordion-body">
          <strong>WiFi Strong</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon</strong></code>
          <code style="color: #006748;"> tabindex=</code>
          <code>"0"</code>
          <code> aria-label=</code>
          <code>"wifi strong"</code>
          <code> data-tooltip-label=</code>
          <code>"Strong" </code>
          <code style="color: #006748;">data-color=</code>
          <code>"primary"</code>
          <code> data-name=</code>
          <code>"wifi-online"<strong>&gt;&lt;/cel-icon&gt;</strong></code>
          <pre></pre>

          <strong>WiFi Weak</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon</strong></code>
          <code style="color: #006748;"> tabindex=</code>
          <code>"0"</code>
          <code> aria-label=</code>
          <code>"wifi weak" </code>
          <code> data-tooltip-label=</code>
          <code>"Weak"</code>
          <code style="color: #006748;"> data-color=</code>
          <code>"notification"</code>
          <code> data-name=</code>
          <code>"wifi-online"<strong>&gt;&lt;/cel-icon&gt;</strong></code>
          <pre></pre>

          <strong>WiFi Offline</strong>
          <pre></pre>
          <code><strong>&lt;cel-icon</strong></code>
          <code style="color: #006748;"> tabindex=</code>
          <code>"0"</code>
          <code style="color: #006748;"> data-color=</code>
          <code>"error"</code>
          <code>"Assign"</code>
          <code> aria-label=</code>
          <code>"wifi offline"</code>
          <code> data-name=</code>
          <code>"wifi-online"</code>
          <code> data-bs-tooltip=</code>
          <code>"true"</code>
          <code> data-bs-title=</code>
          <code>"Off-line"<strong>&gt;&lt;/cel-icon&gt;</strong></code>
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="details-container">
    <p>
      All icon-buttons were changed to icons. In this case, the Wi-Fi icon is informative, but not interactive, so using
      <code>&lt;cel-icon-button&gt;</code> would be misleading. As long as focus order remains logical, this aligns with
      WCAG guidelines.
    </p>
  </div>
</div>

<!-- Provide Error example either in new page or at the bottom of the page here -->